h1 {
    color:white;
    background-color: black;
    text-align: center;
}

p {
    color:aliceblue;
    background-color: black;
}

#ultraman {
    color: aqua;
    background-color: black;
}
.warnasatu {
    color: dodgerblue;
    background-color: burlywood;
}
.warnadua {
    color: blue;
    background-color: black;
}
.warnatiga {
    color:white;
    background-color: black;
}
#kotak_satu {
    height: 100px;
    width: 100px;
    background-color: cyan;
    margin-bottom: 15px;
}
#kotak_dua {
    height: 100px;
    width: 500px;
    background-color: crimson;
    margin-bottom: 15px;
}
#kotak_tiga {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
}


#bikinbg {
    width: 500px;
    height: 200px;
    background-color:white;
    background-image: url("../gambar/xx.jpg");
    border-radius: 30px;
    color: white;
}

#bikinbg h2 {
    text-align: center;
    padding-top: 50px;
}

#bikinpattern {
    width: 500px;
    height: 200px;
    background-color:red;
    background-image: url("../gambar/pettern100.jpg");
    border-radius: 20px;
    color:black;
    background-repeat: repeat;
}

#bikinpattern h2 {
    text-align: center;
    padding-top: 50px;
}